<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="connstrng" connectionString="Data Source=LAPTOP-2LMSPO68\MSSMLBIZ;Initial Catalog=E_APARTMENT;Integrated Security=True"/>
	</connectionStrings>
</configuration>

